<div class="container_signup">
  <br>
  <div class="text-center">
    <h2>Join Us!</h2>
  </div>
  <br>
  <% flash.each do |type, msg| %>
    <div class="alert alert-danger mb-3">
      <%= msg %>
    </div>
  <% end %>
  <%= form_with model: @user, url: signup_path do |form| %>
    <div class="mb-3">
      <%= form.email_field :email, class: "form-control #{'is-invalid' if @user.errors[:email].present?}", placeholder: "Email" %>
      <% if @user.errors[:email].present? %>
        <div class="invalid-feedback d-block">
          <%= @user.errors[:email].first %>
        </div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.password_field :password, class: "form-control #{'is-invalid' if @user.errors[:password].present?}", placeholder: "Password" %>
      <% if @user.errors[:password].present? %>
        <div class="invalid-feedback d-block">
          <%= "Password " + @user.errors[:password].first %>
        </div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.password_field :password_confirmation, class: "form-control #{'is-invalid' if @user.errors[:password_confirmation].present?}", placeholder: "Confirm Password" %>
      <% if @user.errors[:password_confirmation].present? %>
        <div class="invalid-feedback d-block">
          <%= "Password " + @user.errors[:password_confirmation].first %>
        </div>
      <% end %>
    </div>

    <div class="d-grid gap-2">
      <%= form.submit "Sign Up", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>