  <div class="mb-3">
    <label for="rocket_Name" class="form-label">Name</label>
    <%= form.text_field :Name, class: "form-control #{'is-invalid' if @rocket.errors[:Name].present?}", id: "rocket_Name" %>
    <% if @rocket.errors[:Name].present? %>
      <div class="invalid-feedback d-block">
        <%= @rocket.errors[:Name].first %>
      </div>
    <% end %>
  </div>
  <div class="mb-3">
    <label for="rocket_Price" class="form-label">Price</label>
    <%= form.number_field :Price, class: "form-control #{'is-invalid' if @rocket.errors[:Price].present?}", id: "rocket_Price" %>
    <% if @rocket.errors[:Price].present? %>
      <div class="invalid-feedback d-block">
        <%= @rocket.errors[:Price].first %>
      </div>
    <% end %>
  </div>
  <div class="mb-3">
    <label for="rocket_description" class="form-label">Description</label>
    <%= form.rich_text_area :description, class: "form-control #{'is-invalid' if @rocket.errors[:description].present?}", id: "rocket_description", rows: 3 %>
    <% if @rocket.errors[:description].present? %>
      <div class="invalid-feedback d-block">
        <%= @rocket.errors[:description].first %>
      </div>
    <% end %>
  </div>
  <div class="mb-3">
    <label for="rocket_Image" class="form-label">Thumbnail</label>
    <%= form.file_field :image, class: "form-control #{'is-invalid' if @rocket.errors[:image].present?}", id: "rocket_Image" %>
    <% if @rocket.errors[:image].present? %>
      <div class="invalid-feedback d-block">
        <%= @rocket.errors[:image].first %>
      </div>
    <% end %>
  </div>
  <div class="mb-3">
    <label for="rocket_Image" class="form-label">Launch At</label>
    <%= form.datetime_local_field :launch_at, class: "form-control #{'is-invalid' if @rocket.errors[:image].present?}", id: "rocket_LaunchAt" %>
    <% if @rocket.errors[:launch_at].present? %>
      <div class="invalid-feedback d-block">
        <%= @rocket.errors[:launch_at].first %>
      </div>
    <% end %>
  </div>

