<div class="container">
  <h3 class="my-4">Rockets</h3>

  <% flash.each do |type, msg| %>
    <div class="alert alert-success mb-3">
      <i class="bi bi-check-circle text-success mr-2"></i>
      <%= msg %>
    </div>
  <% end %>

  <div class="row">
    <% @rockets.each do |rocket| %>
      <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card mb-3">
          <%= image_tag(rocket.image_as_thumbnail, class: "card-img-top") if rocket.image.attached? %>
          <div class="card-body">
            <h5 class="card-title"><%= rocket.Name %></h5>
            <p class="card-text"><%= rocket.description %></p>
            <small class="text-muted">Launch at <%= rocket.launch_at.strftime("%e %b %y, %I:%M %p") %></span>
              <div class="d-flex align-items-center justify-content-between mt-2">
                <div class="d-flex">
                  <% if session[:current_user_id].present? %>
                    <%= link_to edit_path(rocket.id), class: "btn", data: {
                      turbo_frame: "modal",
                    } do %>
                      <i class="bi bi-pencil"></i>
                    <% end %>
                    <%= link_to delete_path(rocket.id), class: "btn", data: {
                      turbo_frame: "modal",
                    } do %>
                      <i class="bi bi-trash text-danger"></i>
                    <% end %>
                  <% end %>
                </div>
                <b class="d-block text-success"><%= rocket.Price %> BTC</b>
              </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>