<div class="container">
  <h3 class="my-4">Rockets</h3>

  <% flash.each do |type, msg| %>
    <div class="alert alert-info mb-3">
      <%= msg %>
    </div>
  <% end %>
  <div class="row">

    <% @rockets.each do |rocket| %>
      <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card mb-3">
          <img src="<%= rocket.Image %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= rocket.Name %></h5>
            <p class="card-text"><%= rocket.description %></p>
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex">
                <a href="#" class="btn d-block btn-outline-primary">View</a>
                <% if session[:current_user_id].present? %>
                  <a href="<%= edit_path rocket.id %>" class="btn d-block ml-3">
                    <i class="bi bi-pencil"></i>
                  </a>
                  <%= form_with(url: delete_path(rocket.id), method: :post) do |form| %>
                    <button class="btn" type="submit">
                      <i class="bi bi-trash"></i>
                    </button>
                  <% end %>
                <% end %>
              </div>
              <b class="d-block text-success"><%= rocket.Price %> BTC</b>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>